/* Media Query 1399px */
@media (max-width:1399px){

    /* General CSS */
    .flip-card{
        display: inline;
        margin:4rem;
    }
    .slider_text_phn{
        visibility: hidden;
        display: none;
    }
}

/* Media Query 1170px */
@media (max-width:1200px){

    /* General CSS */
    .flip-card{
        display: inline;
        margin:1rem;
    }
}

/* Media Query 991px */
@media (max-width:992px) {

    /* 01 Navbar CSS */
    .contact-nav-div{
        visibility: hidden;
    }
    .navi-toggle-sign{
        visibility: inherit;
        position: absolute;
        top:0.5rem;
        right:2.5rem;     
    }
    .name_img{
        position: absolute;
        top: 3rem;
    }
}

/* Media Query 767px */
@media (max-width:767px) {

    /* General CSS */
    body,
    html {
        font-size: 8px;
    }
    .navi-toggle-sign{
        position: absolute;
        top:1rem;
        right:5rem;
    }
    /*Dictum Section CSS*/
     .flip-card{
        display: block;
    }

    .slider_text_phn{
        visibility: visible;
        display:block;
        position: absolute;
        top:30rem;
        left:10rem;
        right:10rem;
    }

}

/* Media Query 590px */
@media (max-width:590px) {

    /* General CSS */
    body,
    html {
        font-size: 7px;
    }
    .logo-cl{
        visibility: hidden;
    }
    .slider_text_phn{
        visibility: visible;
        display:block;
        position: absolute;
        top:30rem;
        left:10rem;
        right:10rem
    }

}

@media (max-width:490px) {
    .slider_text_phn{
        position: absolute;
        top:30rem;
        left:5rem;
        right:5rem;
    }
}